

 <div class="row">
  <div *ngFor="let card of data" class="example-1 card">
    <a target="_blank" href="{{card.link}}">
    <div [style.background-image]="'url('+card.image+')'"  class="wrapper">
      <div class="date">
        <span class="day">{{card.genre}}</span>
        <!-- <span class="year">18</span> -->
      </div>
      <div class="data">
        <div class="content">
          <!-- <span class="author">Jane Doe</span> -->
          <h1 class="title">{{card.header}}</h1>
          <p class="text">{{card.text}}</p>
          <label for="show-menu" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu" />
      </div>
    </div>
  </a>
  </div>
</div>