<section *ngIf="post" class="article">
  <img  class="header-img" src="{{post.icon}}" 
  alt="">
    <div class="mat-display-2">
      {{post.header}} <br>
    <span style="font-size:20px;">{{post.time | date}}</span>
    </div>


    <div *ngFor="let content of post.content" class="content">
      
      <!-- if it is a paragprag  -->
      <p *ngIf="content.type == 'p'" [innerHTML]="content.text"></p>
      
      <!-- if it is an image -->
      <img style="width: auto; max-width: 100%;" class="article-img" *ngIf="content.type == 'img' " src="{{content.src}}" alt="">

      <!-- if it is a list -->
      <div *ngIf="content.type == 'li'">
          <mat-list >
              <mat-list-item *ngFor="let item of content.list" [innerHTML]="item"></mat-list-item>>
            </mat-list>
      </div>

      <div *ngIf="content.type == 'code'">
          <pre>
              <code class="{{content.lang}}" >
             {{content.code}}
            </code>
          </pre>
      </div>
    </div>


    <div class="voting-area">
      
    </div>
    <div class="comment-section">

    </div>
    </section>

    <mat-spinner *ngIf="!post"></mat-spinner>


    