

div.gray-section{
    background: rgb(212, 212, 212);

    p{
        font: normal normal normal 18px Acme;
        color: #636060;
        padding: 10px;

        img{
            margin-right: 6px;
        }
    }
}