<body>
<section class="about">
<div class="mat-display-2">
  About me
</div>

<p >
 Hi, I'm Amr Taher. I'm a software engineer who works as a full-stack javascript developer as a freelancers and currently looking
 for new opportunities, this website is made for sharing my own knowledge by writting articles in various fields (Javascrip <mat-icon color="primary">code</mat-icon>
  , Frameworks <mat-icon color="warn" >group_work</mat-icon> , etc..).
</p>

<p >
    One of the main reasons I created this website is just to train my front-end / back-end knowledge and I saw a couple of famous
    web developers who created their own blogging website to share their knowledge.
  </p>

  <p >
  As a software engineer I have various knowledge creating web applications using frameworks like Angular and React in the frontend and Firebase / Expressjs and MongoDB.
  I have great interest in creating web crawlers and scrapers to fetch data, you can check my latest scraper <a target='_blank' href="https://github.com/amrtaher1234/Wuzzuf-Web-Scrapper-">over here</a> 
  </p>

  <p >
    I love doing lots of other stuff than coding that I will talk shortly about below in detail.Coding has been always something that makes me motivated more 
    as I tend to always search for new awesome things to create, I used various interesting libraries like Phaser.js and p5.js which are just not very well
    knowen libraries for creating graphics, you guys should check em out!
      </p>
</section>



<section  style="padding-top:5%;" class="hobbies">
    <div class="mat-display-2">
        Hobbies
      </div>

      <p>Hello again, first I will start with my favorite online games that I ***PROUDLY*** play 24/7 <mat-icon>sentiment_dissatisfied</mat-icon></p>

    
      <div class="gray-section">
          <img style="margin:auto ; display:block; width:250px; padding-top:10px" src="https://vignette.wikia.nocookie.net/insidejoke/images/9/95/Logo-lol-smaller.png/revision/latest?cb=20160420235905" alt="">
      
        <p>
          So this is a Mobe game that aims for one goal and one goal only, Destroying the enemy NEXUS. The red and blue dots in the minimap showen below are the nexus for each team.
          <img width="400" src="http://ddragon.leagueoflegends.com/cdn/6.8.1/img/map/map11.png">
        </p>

        <p>
          Each player picks a specific champion that has unique abilties to help him and his team to be victorious!
          Players tend to buy items in game in order to make them powerful <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/1026.png" alt="">
          <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/1006.png" alt="">
          <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/1001.png" alt="">
        </p>

        <p>
          Champions vary from each other, each champion got his own abilities, story and attributes that helps him/her to shine among other champions.
          Here is a small gallery of some of the greatest champions in League:
        </p>
      <app-gallery></app-gallery>

      </div>

    </section>

<section style="padding-top: 5%" class="how-i-created">
    <div class="mat-display-2">
        How I made this
      </div>
      <p>So first of all there are lots of much better blogging websites on the internet and I generally looked at some of them and tried to follow the general 
        design of blogging pages in my own style.
      </p>
      <p>I personally created this to share knowledge and also to train my front-end and back-end skills, so WIN WIN <mat-icon class="mat-18">tag_faces</mat-icon></p>

      <p>The tools I used to create this tiny web application listed here : 

          <mat-list>
              <mat-list-item> <a target="_blank" href="https://angular.io/">Angular 7</a> <img class="icon-img-32" src="https://firebasestorage.googleapis.com/v0/b/my-blogging-web-app.appspot.com/o/posts-icons%2Fangular.png?alt=media&token=1f620f64-bf77-4055-8b6c-5125cbf450d2" alt="">  (front-end, used material design to speed up the process) </mat-list-item>
              <mat-list-item> <a target="_blank" href="http://firebase.google.com">Firebase</a> <img class="icon-img-32" src="https://firebasestorage.googleapis.com/v0/b/my-blogging-web-app.appspot.com/o/posts-icons%2Ffirebase.png?alt=media&token=af8a8c24-3f4b-45dd-9674-29d4962b00d5" alt="">  (back-end used it for both Hosting and Firebase Firestore, it is pretty awesome.) </mat-list-item>
              <mat-list-item><a target="_blank" href="https://stackblitz.com">Stackblitz </a> (to develop angular from a live editor on the browser, awesome too!)</mat-list-item>
            </mat-list>
      </p>
</section>
</body>