<mat-toolbar color="foreground">

  <mat-toolbar-row>
    <span class="-spacer"></span>

    <a routerLink='/about'><button class="name"  mat-button >
      <img src="../../assets/Icons8/icons8-octocat-800.png" width="40" height="40" alt="">
      Amr Taher</button></a>


    <span class="-spacer"></span>
    <a routerLink='/about'><button  mat-button>About me</button></a>
    <a routerLink = '/articles'><button  mat-button>Articles</button></a>
    <!-- <a routerLink=''><button  mat-button>Support</button></a> -->
    <span class="-spacer"></span>

      <button mat-button>
        <a href="https://www.linkedin.com/in/amr-taher-442228140/" target="_blank">
          <img height=44 width =44 src="../../assets/Icons8/icons8-linkedin-600.png">
        </a>
      </button>
      <button
      matTooltip="Github Account:)"
       mat-button>
        <a href="">
          <img height=44 width =44 src="../../assets/Icons8/icons8-git-700.png">
        </a>
      </button>
    <span class="-spacer"></span>

    

  </mat-toolbar-row>
</mat-toolbar>
