<div class="flying-wrapper">
  <button mat-mini-fab color="" class="flying-wrapper__btn">
    <mat-icon>favorite</mat-icon>
  </button>
  <div class="flying-wrapper__fabs">
    <button mat-mini-fab color="">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab color="">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab color="">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
<h1 contenteditable="true" placeholder="Title"></h1>
<h1>test</h1>
