mat-toolbar.post {
  background: transparent;

  span.post-name {
    font: normal normal normal 20.1px -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  span.post-icon {
    margin-right: 30px;

    img {
      width: 40px;
      height: 40px;
      vertical-align: center;
    }
  }

  span.post-date {
    font: normal normal normal 17.2px -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

  }

  transition: 0.21s all linear;
}

a {
  text-decoration: none;
  color: #636060 !important;
}


@media only screen and (max-width: 600px) {
  .post-name {
    font-size: 12px !important;
  }

  .post-icon {
    margin-right: 5px !important;
  }

  .post-date {
    font-size: 12px !important;
    font-style: italic !important;
  }
}
