footer{
    margin-bottom: 40px; 
    margin-top: 55px; 
    font-size: 19px; 
    text-align: center; 
    
    
    span{
        font-weight: bold;
        font-family: Charmonman;
    }
 
}