footer {
  padding-bottom: 40px;
  margin-top: 55px;
  font-size: 19px;
  text-align: center;


  span.amr {
    font-weight: bold;
    font-family: Charmonman;
  }

}

footer.hidden {
  display: none;
}
