/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
    padding-top: 9%;
    width: 62%; 
    margin: auto; 
}

p{
    font: normal normal normal 19.6px  -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.35em;
    color: #404040;
}

*::selection {
    background: #fff2a8;
}

.-spacer {
    flex-grow: 1; 
  }

  a{
      color:unset; 
  }
  
@import "../node_modules/prismjs/themes/prism-solarizedlight.css";
@import "../node_modules/prismjs/plugins/toolbar/prism-toolbar.css";
@import "animate.scss";

//   @import './harmonic-theme.scss'; 
  
  .icon-img-32{
      width: 32px; 
      height: 32px; 
  }

  // 
  @media only screen and (max-width: 600px) {
    main{
        padding-top: 21.9%;
        width: 85%;
        div.gray-section p ,  p{
            font-size: 16.6px; 
        }
        .mat-display-2, .mat-typography .mat-display-2{
            font-size: 39px;
            margin: 0 0 43px; 
        }
    }
  }
  mat-spinner{
      position: absolute !important;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%); 
  }